# SPDX-License-Identifier: LGPL-2.1-or-later
#
# iiod - Systemd init script
#
# Copyright (C) 2016-2021 Analog Devices Inc.

[Unit]
Description=IIO Daemon
Documentation=man:iiod(8)

[Service]
ExecStart=/usr/sbin/iiod -p 50901 -u usb:%i
KillMode=process
